/* :host ::ng-deep .p-panelmenu .p-panelmenu-header>a{
    color: #6366F1;
} */

:host ::ng-deep .p-menu .p-menuitem-text {
    color: #6366F1;
    /* color: white; */
    /* color: #adf163; */
    text-align: center;
}

/* :host ::ng-deep .p-menu {
    background-color: #a763f1;
} */


/* :host ::ng-deep .p-sidebar{
    color: #f1a763;
} */

/* :host ::ng-deep .faucet-icon{
        width: 1.5rem;
        height: 1.5rem;
        background-image: url("https://img.icons8.com/material-outlined/24/null/water-tap-.png");
} */