<div class="flex justify-content-center">
    <div class="flex flex-column gap-3 pb-2 row-gap-3 max-width" style="width: 80%">

        <div class="flex base-card flex-column justify-content-between align-items-center p-4">
            <div class="text-justify text-xl">
                <p>
                    Welcome to an exciting crowdfunding platform powered by Ethereum blockchain technology. Here, a
                    vibrant community of creators and backers come together to support innovative projects and turn
                    dreams into reality.
                </p>
                <p>
                    As part of a course project to craft any web application of our choice, we have crafted a unique
                    crowdfunding platform that fulfils the mandatory and optional requirements of the assessment. We
                    have integrated various technologies to enhance the user experience, making it intuitive and
                    seamless. Our aim is to create an engaging environment where creators can showcase their ideas and
                    receive the support they need.
                </p>
                <p>
                    This project source code can be found on <a
                        href="https://github.com/Raynerenyar/Crowdfunding-platform-powered-by-blockchain"
                        target="_blank">Github</a>
                </p>
            </div>
            <div class="flex flex-wrap flex-row gap-3 justify-content-center m-4">
                <ng-container *ngFor="let src of arr">
                    <div class="">
                        <img src={{src.src}} alt="test" class="image-size" title={{src.title}}>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>