/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-indigo/theme.css";
@import "primeng/resources/primeng.css";
@import 'primeicons/primeicons.css';
@import 'primeflex/primeflex.css';

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    /* background-color: #fafef6; */
    background-color: white;
}

:root {
    --shadow-color: 0deg 0% 0%;
    --shadow-elevation-low:
      -0.6px 0.5px 0.9px hsl(var(--shadow-color) / 0.08),
      -0.8px 0.8px 1.3px -1.3px hsl(var(--shadow-color) / 0.08),
      -1.9px 1.7px 2.8px -2.6px hsl(var(--shadow-color) / 0.07);
    --shadow-elevation-medium:
      -0.6px 0.5px 0.9px hsl(var(--shadow-color) / 0.08),
      -1.6px 1.5px 2.4px -0.9px hsl(var(--shadow-color) / 0.08),
      -3.9px 3.6px 5.9px -1.7px hsl(var(--shadow-color) / 0.08),
      -9.6px 8.7px 14.4px -2.6px hsl(var(--shadow-color) / 0.08);
    --shadow-elevation-high:
      -0.6px 0.5px 0.9px hsl(var(--shadow-color) / 0.08),
      -2.4px 2.2px 3.6px -0.4px hsl(var(--shadow-color) / 0.07),
      -4.4px 4px 6.6px -0.7px hsl(var(--shadow-color) / 0.07),
      -7.2px 6.5px 10.8px -1.1px hsl(var(--shadow-color) / 0.07),
      -11.5px 10.4px 17.2px -1.5px hsl(var(--shadow-color) / 0.07),
      -18px 16.3px 27px -1.9px hsl(var(--shadow-color) / 0.07),
      -27.4px 24.8px 41px -2.2px hsl(var(--shadow-color) / 0.07),
      -40.4px 36.6px 60.5px -2.6px hsl(var(--shadow-color) / 0.07);
}

:root {
    --custom-primary-colour: #6366f1;
    --custom-secondary-colour: #ce39d0;
    --custom-background-colour1: #fafef6;
    --custom-background-colour2: #fceada;
    --custom-accent-colour: #6b2d6c;
}

:root .custom-bg-accent{
  background-color: var(--custom-accent-colour)!important;
}

:root .custom-bg-bgColour1{
  background-color: var(--custom-background-colour1)!important;
}

:root .overflow-wrap-anywhere{
  overflow-wrap: anywhere;
  text-align: justify;
}



:root .base-card {
  border: 0.5px solid #ddd;
  border-radius: 10px;
  background-color: var(--custom-background-colour1);
  /* box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px; */
  /* box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.4); */
  box-shadow: var(--shadow-elevation-medium);
  transition: all 0.3s ease-in-out;
}

:root .title-card{
  /* border: 1px solid #ddd; */
  border-radius: 10px;
  background-color: var(--custom-background-colour1);
  /* box-shadow: -1.5px 3px 3px rgba(0, 0, 0, 0.3); */
  /* box-shadow: var(--shadow-elevation-medium); */
}

:root .card{
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: var(--custom-background-colour1);
  /* box-shadow: -1.5px 3px 3px rgba(0, 0, 0, 0.6); */
  box-shadow: var(--shadow-elevation-medium);
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

:root .card:hover {
  box-shadow: var(--shadow-elevation-high);
  /* box-shadow: -3px 6px 6px rgba(0, 0, 0, 0.4); */
  transform: scale(1.012);
}

:root .button:hover {
  box-shadow: var(--shadow-elevation-high);
  transform: scale(1.18);
}

:root .button-card{
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: var(--background-colour1);
  /* box-shadow: -1.5px 3px 3px rgba(0, 0, 0, 0.6); */
  box-shadow: var(--shadow-elevation-medium);
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

:root .button-card:hover {
  box-shadow: var(--shadow-elevation-high);
  /* box-shadow: -3px 6px 6px rgba(0, 0, 0, 0.4); */
  transform: scale(1.06);
}

:root .megaphone-icon{
  width: 2rem;
  height: 2rem;
  background-image: url("./assets/icons/megaphone.svg");
  background-size: contain;
  color: #6366f1;
}

:root .campaign-white-icon{
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("./assets/icons/campaign_white_48dp.svg");
  background-size: contain;
}

:root .plus-icon{
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("./assets/icons/add_black_48dp.svg");
  background-size: contain;
}

:root .create-icon{
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("./assets/icons/create_black_24dp.svg");
  background-size: contain;
}

:root .comment-icon {
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("./assets/icons/comment.svg");
  background-size: contain;
}

:root .comment-white-icon{
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("./assets/icons/insert_comment_white_48dp.svg");
  background-size: contain;
}

:root .kb-arrow-left-icon{
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("./assets/icons/keyboard_arrow_left.svg");
  background-size: contain;
}

:root .edit-white-icon{
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("./assets/icons/edit_white_48dp.svg");
  background-size: contain;  
}

:root .edit-black-icon{
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("./assets/icons/edit_black_48dp.svg");
  background-size: contain;
}

:root .assignment-add-icon{
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("./assets/icons/assignment_add_FILL0_wght400_GRAD0_opsz48.svg");
  background-size: contain;  
}

:root .publish-white-icon{
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("./assets/icons/publish_white_48dp.svg");
  background-size: contain;  
}

:root .assignment-white-icon{
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("./assets/icons/assignment_white_48dp.svg");
  background-size: contain;  
}

:root .add-white-icon{
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("./assets/icons/add_white_48dp.svg");
  background-size: contain;  
}

:root .description-white-icon{
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("./assets/icons/description_white_48dp.svg");
  background-size: contain;  
}
/* html, body { height: 100%; } */
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

:root .input-black-icon{
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("./assets/icons/input_FILL0_wght400_GRAD200_opsz48.svg");
  background-size: contain;  
}

:root .output-black-icon{
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("./assets/icons/output_FILL0_wght400_GRAD200_opsz48.svg");
  background-size: contain;  
}

:root .token-black-flip-icon{
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("./assets/icons/generating_tokens_black_48dp.svg");
  background-size: contain;
  transform: scaleX(-1.0);
}

:root .faucet-icon{
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("./assets/icons/faucet_FILL0_wght100_GRAD200_opsz48.svg");
  background-size: contain;
}

:root .dashboard-icon {
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("./assets/icons/dashboard_FILL0_wght100_GRAD200_opsz48.svg");
  background-size: contain;
}

:root .globe-explore-icon{
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("./assets/icons/travel_explore_FILL0_wght100_GRAD200_opsz48.svg");
  background-size: contain;
}

:root .new-folder-icon{
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("./assets/icons/create_new_folder_FILL0_wght100_GRAD200_opsz48.svg");
  background-size: contain;
}

:root .new-folder-white-icon{
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("./assets/icons/create_new_folder_white_48dp.svg");
  background-size: contain;
}

:root .new-note-white-icon{
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("./assets/icons/note_add_white_48dp.svg");
  background-size: contain;  
}

:root .new-note-icon2{
  width: 1.5rem;
  height: 1.4rem;
  background-image: url("./assets/icons/note_add_FILL0_wght100_GRAD200_opsz48.svg");
  background-size: contain;  
}

:root .info-icon{
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("./assets/icons/info_FILL0_wght100_GRAD200_opsz48.svg");
  background-size: contain;  
}

:root .max-width {
  max-width: 1250px;
}

:root .person-black-icon{
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("./assets/icons/person_FILL0_wght100_GRAD200_opszNaN.svg");
  background-size: contain;  
}

:root .vote-icon{
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("./assets/icons/how_to_vote_FILL0_wght100_GRAD200_opszNaN.svg");
  background-size: contain;  
}

:root .vote-white-icon{
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("./assets/icons/how_to_vote_white_48dp.svg");
  background-size: contain;  
}

:root .pan-white-icon{
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("./assets/icons/pan_tool_white_48dp.svg");
  background-size: contain;  
}

:root .paid-white-icon{
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("./assets/icons/paid_white_48dp.svg");
  background-size: contain;  
}