<h2>Token Faucet</h2>
<p class="text-justify line-height-2">Distribution of these tokens are for development purposes only. The crowdfunding contract allows users to choose the token that they want to be funded in. Contract will check if the provided address is not a contract and contains supply of more than 0. Since this application is deployed on Ethereum Sepolia, a token was created to facilitate tests. The faucet distributes 1000 TWLV tokens each time and has a 25 hours cooldown per address.</p>
<p-button styleClass="p-button-raised" (click)="distribute()">Distribute TWLV</p-button>
