<p>project works!</p>
<form [formGroup]="existingProject">
    <div>Contribute Amount: </div>
    <div>
        <input type="number" formControlName="contributeAmount">
    </div>
</form>
<p-button styleClass="p-button-raised" (click)="contribute()">Contribute</p-button>
<form [formGroup]="voteRequestForm">
    <div>
        Request Number:
    </div>
    <div>
        <input type="number" formControlName="voteRequest" min=0>
    </div>
</form>
<p-button styleClass="p-button-raised" (click)="voteRequest()">Vote Request</p-button>
<br>
<p-button styleClass="p-button-raised" (click)="refund()">Refund</p-button>