<div *ngIf="!requests">
    <h2>Project has no requests</h2>
</div>
<div class="grid grid-nogutter" *ngIf="requests">
    
    <div class="col-12 lg:col-8 xl:col-9 pr-5">
        <div *ngIf="!(selectedRequestIndex >= 0) && requests.length > 0" class="text-2xl font-semibold">{{'select a request to view.'|titlecase}}</div>
        <div *ngIf="requests.length == 0" class="text-2xl font-semibold">{{'There are no request for this project.'| titlecase}}</div>

        <!-- on request tab show this and the request scroll panel -->
        <div *ngIf="selectedRequestIndex >= 0">
            <app-request></app-request>
        </div>
    </div>

    <div class="col-12 lg:col-4 xl:col-3">
        <!-- [style]="{width: '100%',height: '500px', margin: 0 }" [ngStyle]="{ 'height': scrollHeight }" -->
        <p-scrollPanel #sp [style]="{width: '100%', margin: 0 }" >
            
            <div class="flex flex-column-reverse">
                <span *ngFor="let request of requests; let i = index">
                    <!-- routerLink="/explore/{{projectAddress}}/request/" [routerLink]="['/explore',projectAddress,'request',i]" -->
                    <a class="no-underline">
                        <div class="shadow-5 mb-3 border-round cursor-pointer h-full border-3" 
                        [ngClass]="(i == selectedRequestIndex) ? 'border-primary' : 'border-transparent'" (click)="onChosenRequest(i)">
                            <h3 class="m-5">
                                {{request.title}}
                            </h3>
                            <div class="m-5 text-justify">
                                {{request.description | truncate:[100,'...']}}
                            </div>
                            <div class="m-5">
                                {{i == selectedRequestIndex}}                                            
                            </div>
                        </div>
                    </a>
                </span>
            </div>

        </p-scrollPanel>
    </div>
</div>

<!-- <p-card header="Requests" styleClass="shadow-2 m-2" class="w-full">
    <div>
        {{request.title}}
        {{request.description}}
        {{request.amount}}
    </div>
</p-card> -->

