::ng-deep .p-datepicker{
    min-width: 30%!important;
    /* height: 40%; */
}

app-project-admin {
    width: 100%!important;
}

body{
    /* width: 7000px!important; */
    width: 100%!important;
}