<div class="flex justify-content-center">
    <div class="flex flex-column gap-3 row-gap-3 pb-2 max-width" style="width: 80%;">

        <!-- top card -->
        <div class="flex base-card flex-row justify-content-between" >                
            <div class="flex align-items-center text-lg p-3 font-bold overflow-hidden text-overflow-ellipsis">
                <span style="overflow: hidden;text-overflow: ellipsis;">
                    Create New Project
                </span>
            </div>
            <!-- back button -->
            <div class="flex p-2 px-3 align-content-center">
                <p-button icon="pi pi-arrow-left" styleClass="p-button-raised p-button-text p-button-rounded bg-primary" label="Back To Dashboard" (click)="goBack()"></p-button>
            </div>
        </div>

        <!-- body card -->
        <div class="flex base-card flex-column p-3 pt-1">

            <!-- navigation -->
            <div class="flex justify-content-end align-content-center align-items-center gap-3 p-1 mb-1 py-3" >
                <div class="flex flex-row w-2 justify-content-between gap-3">
                    <!-- <div class="flex button-card w-full bg-primary border-none justify-content-center p-2" pInputText pTooltip="Select One To Edit" tooltipPosition="top" [showDelay]="600" (click)="createProject()">
                        <div class="publish-white-icon"></div>
                    </div> -->
                    <p-button icon="publish-white-icon" class="border-none flex w-full p-1" styleClass="custom-bg-accent w-full p-button-raised p-button-text p-button-text border-none" pInputText pTooltip="Submit" tooltipPosition="top" [showDelay]="600" (click)="createProject()"></p-button>
                </div>
            </div>

            <!-- form -->
            <form [formGroup]="newProjectForm">

                <div class="flex flex-row gap-3 flex-wrap md:flex-wrap lg:flex-nowrap">

                    <!-- title field -->
                    <div class="w-full">
                        <div class="field p-float-label align-items-center align-content-center align-self-center">
                            <input type="text" id="title" pInputText
                                class="text-base text-color border-2 border-solid border-round appearance-none outline-none  focus:border-primary w-full h-3rem"
                                formControlName="title">
                            <label for="title" >Title Of Project</label>
                        </div>
                        <div style="position: relative; bottom: 13px;" class="text-right">
                            <span class="text-xs text-red-500 vertical-align-top" *ngIf="submitted && newProjectForm.get('title')?.errors?.['required']; else blank">Field is mandatory.</span>
                        </div>
                    </div>
    
                    <!-- deadline field -->
                    <div class="w-full">
                        <div class="field p-float-label ">
                            <p-calendar [showIcon]="true" id="calendar"  dateFormat="dd/mm/yy" formControlName="deadline" 
                                class="text-base text-color"
                                styleClass="w-full" 
                                inputStyleClass="border-2 focus:border-primary">
                            </p-calendar>
                            <label for="calendar">Deadline</label>
                        </div>
                        <div style="position: relative; bottom: 13px;" class="text-right">
                            <span class="text-xs text-red-500 vertical-align-top" *ngIf="submitted && newProjectForm.get('deadline')?.errors?.['required']; else blank">Field is mandatory.</span>
                            <span class="text-xs text-red-500 vertical-align-top" *ngIf="submitted && newProjectForm.get('deadline')?.errors?.['pastDate']; else blank">&nbsp;Date must be in the future.</span>
                        </div>
                    </div>

                </div>
                
                <div class="flex flex-row gap-3 flex-wrap md:flex-wrap lg:flex-nowrap">

                    <!-- goal field -->
                    <div class="w-full">
                        <div class="field p-float-label ">
                            <p-inputNumber [showButtons]="true" [step]="1" [min]="1" formControlName="goal" 
                                class="w-full text-base text-color"
                                styleClass="w-full"
                                inputStyleClass="border-2 focus:border-primary">
                            </p-inputNumber>
                            <label htmlFor="number-input">Goal</label>
                        </div>
                        <div style="position: relative; bottom: 13px;" class="text-right">
                            <span class="text-xs text-red-500 vertical-align-top" *ngIf="submitted && newProjectForm.get('goal')?.errors?.['required']; else blank">Field is mandatory.</span>
                        </div>
                    </div>
                    
                    <!-- token field -->
                    <div class="w-full">
                        <div class="field p-float-label">
                            <p-dropdown styleClass="w-full" [options]="tokens" [editable]="true" optionLabel="tokenSymbol" formControlName="tokenAddress" inputId="token" (onChange)="onSelection($event)"></p-dropdown>
                            <label for="token">Token of choice for funding</label>
                            <ng-container *ngIf="displayTokenAddress">
                                <div class="text-sm select-all" style="padding-left: 0.8rem;">{{displayTokenAddress}}</div>
                            </ng-container>
                        </div>
                        <div style="position: relative; bottom: 13px;" class="text-right justify-content-end">
                            <span class="text-xs text-red-500 vertical-align-top" *ngIf="submitted && newProjectForm.get('tokenAddress')?.errors?.['required']; else blank">Field is mandatory.</span>
                            <span class="text-xs text-red-500 vertical-align-top" *ngIf="submitted && newProjectForm.get('tokenAddress')?.errors?.['address']; else blank">&nbsp;Address is invalid.</span>
                            <span class="text-xs text-red-500 vertical-align-top" *ngIf="submitted && newProjectForm.get('tokenAddress')?.errors?.['isToken']; else blank">&nbsp;Address is not a token.</span>
                        </div>
                    </div>

                </div>

                
                <!-- description field -->
                <div class="field p-float-label ">
                    <textarea id="description" cols="30" rows="10" maxlength="5000" class="text-base text-color surface-overlay border-2 border-solid border-round appearance-none outline-none focus:border-primary w-full" (input)="charCount = this.newProjectForm.get('description')?.value.length" pInputTextarea [autoResize]="true" formControlName="description" ></textarea>
                    <label for="description">Description</label>
                </div>
                <div style="position: relative; bottom: 15px;" class="flex justify-content-between align-self-center">
                    <span class="text-left text-xs">{{charCount}} / {{charLimit}}</span>
                    <span class="text-xs text-red-500 text-right vertical-align-top" *ngIf="submitted && newProjectForm.get('description')?.errors?.['required']">This field is mandatory.</span>
                    <span class="text-xs text-red-500 text-right vertical-align-top" *ngIf="submitted && newProjectForm.get('description')?.errors?.['maxlength']">&nbsp;Max length is 1000.</span>
                </div>
            </form>
        </div>        
    </div>
</div>
<ng-template #blank><span class="text-xs">&nbsp;</span></ng-template>