<div class="w-full">
    <div class="flex align-items-stretch">
        <p-toolbar class="w-full" styleClass="surface-200 border-noround border-none shadow-2 pt-2 pb-2">
            <div class="p-toolbar-group-start flex">
                <app-sidebar class="align-items-center justify-content-center"></app-sidebar>
            </div>
            <div class="p-toolbar-group-end flex">
                <app-header class="align-items-center justify-content-center"></app-header>
            </div>
        </p-toolbar>
    </div>
    <div class="flex relative bottom-100 align-items-stretch align-self-auto ">
        <div class="w-full pt-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<!-- <div>
    <div>
        <p-toolbar class="w-full">
            <div>
                <app-sidebar></app-sidebar>
            </div>
        </p-toolbar>
    </div>
</div> -->