<p>announcemnt-editor works!</p>
<!-- <div style="width: 300px;"> -->
    <!-- <p-editor [(ngModel)]="text" [style]="{ height: '300px', width: '200px' }"> -->
        <!-- <div id="editor">
            <p>Hello World!</p>
            <p>Some initial <strong>bold</strong> text</p>
            <p><br></p>
          </div> -->
    <!-- </p-editor> -->
<!-- </div> -->
<div class="grid">
    <div class="col-6">
        <p-editor [(ngModel)]="text" [style]="{ height: '300px', width: '200px' }">
        </p-editor>    
    </div>
</div>