/* :host ::ng-deep .p-carousel-content {
    border: 1cm;
    border: solid;
    margin-left: 1rem;
    margin-right: 1rem;
} */

/* :host ::ng-deep .p-carousel-items-content {
    border: 1cm;
    border: solid;
    margin-left: 1rem;
    margin-right: 1rem;
} */

/* :host ::ng-deep .p-carousel-container {
    border: 1cm;
    border: solid;
    margin-left: 1rem;
    margin-right: 1rem;
} */

:host ::ng-deep .p-paginator{
    background-color: var(--custom-background-colour1);
}