<!-- <div class="col-12 grid">
    <div class="mt-0 pt-0">
        <p-card header="Accepting Token" styleClass="shadow-5 h-full">
        </p-card>
    </div>
</div> -->
<div class="pl-2 pr-2">
    <h2>Accepting Token</h2>
    <div>{{project.acceptingToken}}</div>
    <!-- might not need heading for description -->
    <h2>Description</h2>
    <p class="min-h-full text-justify">
        {{project.description}}
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
        quas!
    </p>
</div>