<!-- <div class="col-12 grid">
    <div class="mt-0 pt-0">
        <p-card header="Accepting Token" styleClass="shadow-5 h-full">
        </p-card>
    </div>
</div> -->


    
    
<!-- <div class="pl-2 pr-2 overflow-hidden text-overflow-ellipsis" style="overflow: hidden;text-overflow: ellipsis;">

    <h2>{{project.title | titlecase}}</h2>
    <div>{{project.tokenSymbol}}</div>
    <a href="https://sepolia.etherscan.io/address/{{project.acceptingToken}}" target="_blank">https://sepolia.etherscan.io/address/{{project.acceptingToken}}</a>
    <p class="min-h-full text-justify" >
        {{project.description}}
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
        quas!
    </p>
                
    <form [formGroup]="contributeForm">
        <div class="col-8 grid grid-nogutter align-items-center">
            <div class="col-6 field p-float-label flex align-items-center mb-2 mt-2">
                <p-inputNumber formControlName="contributeAmount" styleClass="w-full" class="w-full"></p-inputNumber>
                <label htmlFor="number-input">Contribute (You have balance of {{tokenBalance}} {{project.tokenSymbol}})</label>
            </div>
            <div class="col-4 ml-2">
                <p-button styleClass="p-button-raised font-normal" (click)="contribute()">Contribute</p-button>
            </div>        
        </div>
    </form>
</div>
<div>
    
</div> -->