<div class="flex justify-content-center">
  <div class="flex flex-column gap-3 pb-2 row-gap-3 max-width" style="width: 80%" >
    <div class="flex flex-column base-card custom-bg-bgColour1 p-3">
      
        <div class="mt-2 mb-1">
          
          <strong class="flex text-md mb-2">
            Forgotten your password? Enter your new password.
          </strong>
          <span class="flex text-md w-full">
            You are connected with&nbsp;<u>{{shortenedAddress}}</u>
            &nbsp;to&nbsp;<span class="underline">{{chainName | titlecase}}</span>
          </span>
          <em class="flex text-md">Upon submitting you will first need to sign a message to prove that you own the wallet address.</em>
          
        </div>
        
        <form *ngIf="!isLoggedIn" [formGroup]="newPasswordForm" (keydown.enter)="submit()">
          
          <div>
            <span class="p-float-label mt-4">
              <input type="password" id="password" pInputText
              class="border-2 border-solid border-round appearance-none outline-none focus:border-primary w-full h-1rem"
              formControlName="password"
              aria-describedby="password-error">
              <label htmlFor="password" >New Password</label>
            </span>
            <small class="text-red-500 text-sm" *ngIf="newPasswordForm.get('password')?.errors?.['minlength'] && newPasswordForm.touched; else small" id="password-error">Minimum length required is {{minLength}}.</small>
            <small class="text-red-500 text-sm" *ngIf="newPasswordForm.get('password')?.errors?.['maxlength'] && newPasswordForm.touched; else small" id="password-error">Maximum length required is {{maxLength}}.</small>
          </div>
          
        </form>
      
        <ng-container *ngIf="!isLoading; else loading">
          <p-button *ngIf="!isLoggedIn" class="ml-0 mr-0 mt-1" label="Change Password" styleClass="p-button-raised p-button-sm"  (click)="submit()"></p-button>
        </ng-container>
        <ng-template #loading>
          <p-button *ngIf="!isLoggedIn" class="ml-0 mr-0 mt-1" styleClass="p-button-raised p-button-sm" >
            <i class="pi pi-spin pi-spinner" style="font-size: 1rem; color: white;"></i>
          </p-button>
        </ng-template>
      
      </div>
  </div>
</div>
  <ng-template #small>
    <small>&nbsp;</small>
  </ng-template>