<div class="flex justify-content-center">
    <div class="flex flex-column gap-3 row-gap-3 pb-2 max-width" style="width: 80%;">
    
        <!-- header card -->
        <div id="header" class="flex base-card flex-row justify-content-between align-items-center pl-4 flex-wrap lg:flex-nowrap">
            
            <div class="flex flex-column py-2">
                <div class="text-xl font-bold">
                    Your Announcements
                </div>
                <a class="text-sm" href="https://sepolia.etherscan.io/address/{{projectAddress}}" target="_blank">
                    {{projectAddress}}
                </a>
            </div>

            <!-- back button -->
            <div class="flex p-2 px-3 align-content-center">
                <p-button icon="pi pi-arrow-left" styleClass="p-button-raised p-button-rounded" label="Back To Project" (click)="goBack()"></p-button>
            </div>
        </div>

        <!-- announcements card -->
        <div class="flex base-card p-3">
            <div class="flex flex-column gap-3 w-full">
                
                <!-- navigation -->
                <div class="flex justify-content-between align-content-center align-items-center gap-3 p-2">
                    <ng-container *ngIf="announcements; else ThereAreNoAnnouncements">
                        &nbsp;
                    </ng-container>
                    <div class="flex flex-row w-3 justify-content-between gap-3">
                        <p-button icon="add-white-icon" class="border-none flex w-full p-1" styleClass="custom-bg-accent w-full p-button-raised p-button-text border-none" pInputText pTooltip="New Announcement" tooltipPosition="top" [showDelay]="600" (click)="newAnnouncement()"></p-button>
                        <p-button icon="edit-white-icon" class="border-none flex w-full p-1" styleClass="custom-bg-accent w-full p-button-raised p-button-text border-none" pInputText pTooltip="Select One To Edit" tooltipPosition="top" [showDelay]="600" (click)="onEdit()"></p-button>                        
                    </div>
                </div>

                <ng-container *ngIf="announcements" >

                    <!-- top paginator  -->
                    <p-paginator [first]="first" [rows]="rows" [alwaysShow]="false" [totalRecords]="length" (onPageChange)="onPageNumChange($event)"></p-paginator>
                    <!-- announcements -->
                    <div class="flex flex-column gap-3">
                        <ng-container *ngFor="let announcement of announcements; let i = index">
                            <div class="card flex flex-column mx-2 mb-2"  [ngClass]="(i == selectedIndex) ? 'border-primary' : 'boader-class'" (click)="onChosenAnnouncement(i)">
                                <div class="px-3 pt-0 font-normal overflow-wrap-anywhere">
                                    <span [innerHTML]="announcement.body"></span>
                                </div>
                                <div class="col-12 lg:col-3 text-sm text-right align-self-end">
                                    <div *ngIf="announcement.datetimeEdited">
                                        Edited:&nbsp;<span>{{announcement.datetimePosted | date:'dd/MM/yyyy HH:mm'}}</span>
                                    </div>
                                    <div>
                                        <span>{{announcement.creatorAddress | slice:0:6}}...{{announcement.creatorAddress | slice:-4}} &nbsp;</span>
                                        Posted:
                                        <span>{{announcement.datetimePosted | date:'dd/MM/yyyy HH:mm'}}</span>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>

                    <!-- bottom paginator  -->
                    <p-paginator [first]="first" [rows]="rows" [alwaysShow]="false" [totalRecords]="length" (onPageChange)="onPageNumChange($event)"></p-paginator>
                        
                </ng-container>
            </div>


        </div>  
    
    </div>
</div>



<ng-template #ThereAreNoAnnouncements>
    <div class="text-xl">
        {{'You have no announcements yet' | titlecase }}  
    </div>
</ng-template>