:host ::ng-deep .p-scrollpanel-bar{
    /* background-color: blue; */
    background-color: var(--primary-color);
    opacity: 1;
    height: 10px;
}

/* :host ::ng-deep .p-scrollpanel{
    height: 200px;
} */