/* .ui-editor-toolbar{
    width: 500px;
} */
/* overflow-y: scroll; */
:host ::ng-deep .ProseMirror{
    /* width: 30px; */
    height: 68vh;
    overflow-y: scroll;
    /* background-color: var(--primary-color); */
}

/* ng-scrollbar {
    --scrollbar-color: black;
  } */

/* :host ::ng-deep .ProseMirror::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    background-color: #d83737!important;
    border-radius: 5px;
} */

/* .NgxEditor::-webkit-scrollbar-thumb{
    background-color: #d83737!important;
    border-radius: 5px;
} */


/*  :host ::ng-deep .ProseMirror::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  } */

/* .NgxEditor__Wrapper {
    height: 200px;
} */