<p-toolbar>
    <nav class="p-toolbar-group-start">
        <app-sidebar></app-sidebar>
    </nav>
    <nav class="p-toolbar-group-end">
        <div class="flex flex-row">
            
            <p-confirmPopup></p-confirmPopup>
            <app-connect-wallet class="flex"></app-connect-wallet>
            
            <p-button *ngIf="isLoggedIn" class="mr-1 ml-1 m-0 flex" icon="pi pi-sign-out" styleClass="p-button-rounded p-button-outlined p-button-raised" (click)="signOut($event)"></p-button>
            
            <p-button *ngIf="!isLoggedIn"  class="mr-1 ml-1 m-0 flex" icon="pi pi-sign-in" (click)="op.toggle($event)" styleClass="p-button-rounded p-button-outlined p-button-raised"></p-button>
            
            <p-button *ngIf="isLoggedIn" class="mr-1 ml-1 m-0 flex" icon="pi pi-user" (click)="op.toggle($event)" styleClass="p-button-rounded p-button-outlined p-button-raised"></p-button>
        </div>
    </nav>
</p-toolbar>
<p-toast position="top-center"></p-toast>

<p-overlayPanel #op class="z-5" [baseZIndex]=10001>
    <app-overlayPanel (onLoginEvent)="hideOverlay()"></app-overlayPanel>
</p-overlayPanel>