.card {
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: var(--custom-background-colour1);
    /* box-shadow: -1.5px 3px 3px rgba(0, 0, 0, 0.6); */
    box-shadow: var(--shadow-elevation-medium);
    cursor: auto;
    transition: none;
}

.card:hover{
    box-shadow: var(--shadow-elevation-medium);
    /* box-shadow: -3px 6px 6px rgba(0, 0, 0, 0.4); */
    transform: none;  
}

:host ::ng-deep .p-paginator{
    background-color: var(--custom-background-colour1);
}