<div class="margin">
    <h2 class="mt-5 mb-5">Project Details</h2>
    <form [formGroup]="newProjectForm">
        <div class="field p-float-label mt-5">
            <input type="text" id="title" pInputText
            class="text-base text-color border-2 border-solid border-round appearance-none outline-none  focus:border-primary w-full h-3rem">
            <label for="title" >Title Of Project</label>
        </div>
        <div class="field p-float-label mt-5">
            <p-inputNumber [showButtons]="true" [step]="100" [min]="100" formControlName="goal" 
            class="w-full text-base text-color"
            styleClass="w-full"
            inputStyleClass="border-2 focus:border-primary"
            ></p-inputNumber>
            <label htmlFor="number-input">Goal</label>
        </div>
        <div class="field p-float-label mt-5">
            <p-calendar [showIcon]="true" id="calendar"  dateFormat="dd/mm/yy" formControlName="deadline" 
            class="text-base text-color"
            styleClass="w-full" 
            inputStyleClass="border-2 focus:border-primary"
            ></p-calendar>
            <label for="calendar">Deadline</label>
        </div>
        <div class="field p-float-label mt-5">
            <input type="text" id="token" pInputText class="text-base text-color surface-overlay border-2 border-solid border-round appearance-none outline-none  focus:border-primary w-full h-3rem" formControlName="tokenAddress">
            <label for="token">Token of choice for funding</label>
        </div>
        <div class="field p-float-label mt-5">
            <textarea id="description" cols="30" rows="10" class="text-base text-color surface-overlay border-2 border-solid border-round appearance-none outline-none focus:border-primary w-full" pInputTextarea [autoResize]="true" formControlName="description"></textarea>
            <label for="description">Description</label>
        </div>
    </form>
</div>
<p-button class="margin" styleClass="p-button-raised" (click)="createProject()">Create Project</p-button>