.container{
    display: grid;
    /* grid-template-columns: [col1] 40px [col2] 220px [col3] 40px; */
    /* grid-template-rows: [row1] auto [row2] auto [row3] auto; */
    grid-template-columns: auto minmax(max-content, 2000px) auto;
    grid-template-rows: auto;
    grid-template-areas: 
    ". header ."
    ". main ."
    ". footer .";
}

