 /* .card:hover {
    box-shadow: var(--shadow-elevation-high);
    transform: scale(1.05);
} */

.icon-size{
    transform: scale(1.3);
}

:host ::ng-deep .p-tabview-panel{
    width: 100%;
}

.border-bottom{
    border-bottom: 2px solid var(--primary-color);
}

.border-grey{
    border-bottom: 2px solid var(--surface-border);
}