<div class="flex justify-content-center">
    <div class="flex flex-column gap-3 row-gap-3 pb-2 max-width" style="width: 80%;">

        <!-- top card -->
        <div class="flex base-card flex-row justify-content-between flex-wrap lg:flex-nowrap">
            
            <div class="flex align-items-center text-lg p-3 font-bold overflow-hidden text-overflow-ellipsis">
                <ng-container *ngIf="!editing else edit">
                    <span style="overflow: hidden;text-overflow: ellipsis;">
                        Create Announcement For {{projectAddress}}
                    </span>
                </ng-container>
            </div>
            <div class="flex p-2 px-3 align-content-center">
                <p-button icon="pi pi-arrow-left" styleClass="p-button-raised p-button-rounded" label="Back" (click)="goBack()"></p-button>
            </div>
        </div>

        <!-- body card -->
        <div class="flex base-card flex-column p-3 pt-1">

            <!-- navigation -->
            <div class="flex justify-content-end align-content-center align-items-center gap-3 p-1 mb-1 py-3" >
                <div class="flex flex-row w-2 justify-content-between gap-3">
                    <p-button icon="publish-white-icon" class="border-none flex w-full p-1" styleClass="custom-bg-accent w-full p-button-raised p-button-text border-none" pInputText pTooltip="Submit" tooltipPosition="top" [showDelay]="600" (click)="onSubmit()"></p-button>
                </div>
            </div>

            <!-- form -->
            <div class="w-full">
                <div>
                    <form [formGroup]="editorForm">
                        <div class="NgxEditor__Wrapper">
                            <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
                            <ngx-editor [editor]="editor" [placeholder]="'Write your announcement here'" (input)="charCount = this.editorForm.get('editor')?.value.length" formControlName="editor"></ngx-editor>
                        </div>
                    </form>
                </div>
                <div class="flex flex-row justify-content-start">
                    <!-- <div class="pt-2 flex">
                        <p-button styleClass="p-button-raised p-button-sm" [disabled]="editorForm.invalid" (click)="onSubmit()">Submit</p-button>
                    </div> -->
                    <div class="flex align-items-center pt-2">
                        {{charCount}} / {{charLimit}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #edit>
    Edit Announcement
</ng-template>