/* .ui-editor-toolbar{
    width: 500px;
} */
/* overflow-y: scroll; */
:host ::ng-deep .ProseMirror{
    /* width: 30px; */
    height: 68vh;
    overflow-y: scroll;
    /* background-color: var(--primary-color); */
}