<div id="commentForm" class="flex flex-column gap-2">
    <div class="flex justify-content-end gap-3 py-2">
         <div class="flex flex-row w-3 gap-3">
            <p-button icon="publish-white-icon" class="border-none flex w-full p-1" styleClass="custom-bg-accent w-full p-button-raised p-button-text border-none" pInputText pTooltip="New Announcement" tooltipPosition="top" [showDelay]="600" (click)="onSubmit()"></p-button>
        </div>
    </div>  
    <form [formGroup]="commentForm">
        <div class="NgxEditor__Wrapper">
          <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
          <ngx-editor [editor]="editor" formControlName="comment" (input)="charCount = this.commentForm.get('comment')?.value.length" [placeholder]="'Write your comment here...'"> </ngx-editor>
        </div>
    </form>
    <div class="flex justify-content-end text-sm">
        {{charCount}} / {{charLimit}}
    </div>
    <!-- <div class="pt-2">
        <p-button styleClass="p-button-raised p-button-sm font-semibold" [disabled]="commentForm.invalid" (click)="onSubmit()">Submit</p-button>
    </div> -->
</div>
