<div id="commentForm">
    <form [formGroup]="commentForm">
        <div class="NgxEditor__Wrapper">
          <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
          <ngx-editor [editor]="editor" formControlName="comment" [placeholder]="'Write your comment here...'"> </ngx-editor>
        </div>
    </form>
    <div class="pt-2"> 
        <p-button styleClass="p-button-raised p-button-sm" [disabled]="commentForm.invalid" (click)="onSubmit()">Submit</p-button>
    </div>
</div>