<div class="flex justify-content-center">
    <div class="flex flex-column gap-3 pb-2 row-gap-3 max-width" style="width: 80%">

        <!-- header -->
        <div class="flex base-card flex-row justify-content-between align-items-center pl-4">
            <div class="flex flex-column py-2 gap-2">
                <ng-container *ngIf="announcements; else noAnnouncements">
                    <div class="text-xl font-bold">
                        Announcements For {{projectAddress}}
                    </div>
                </ng-container>
                <ng-template #noAnnouncements>
                    <div class="text-xl font-bold">
                        There Are No Announcements
                    </div>
                </ng-template>
            </div>
            <!-- back button -->
            <div class="flex p-2 px-3 align-content-center">
                <p-button icon="pi pi-arrow-left" styleClass="p-button-raised p-button-rounded" label="Back To Project" (click)="goBack()"></p-button>
            </div>
        </div>

        <!-- main body card -->
        <ng-container *ngIf="announcements">
            <p-paginator styleClass="bg-colour" [first]="first" [rows]="rows" [alwaysShow]="false" [totalRecords]="length" (onPageChange)="onPageNumChange($event)"></p-paginator>
            <div class="flex flex-row gap-3 flex-wrap lg:flex-nowrap base-card p-3">
                <div class="flex flex-column w-full gap-2">
                    <ng-container *ngFor="let announce of announcements">
                        <div class="card flex flex-column">
                            <div class="px-3 pt-0 font-normal overflow-wrap-anywhere">
                                <span [innerHTML]="announce.body"></span>
                            </div>
                            <div class="col-12 text-sm text-right align-self-end">
                                <div *ngIf="announce.datetimeEdited">
                                    Edited:&nbsp;<span>{{announce.datetimePosted | date:'dd/MM/yyyy HH:mm'}}</span>
                                </div>
                                <div>
                                    <span>{{announce.creatorAddress | slice:0:6}}...{{announce.creatorAddress | slice:-4}} &nbsp;</span>
                                    Posted:
                                    <span>{{announce.datetimePosted | date:'dd/MM/yyyy HH:mm'}}</span>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
            <p-paginator styleClass="bg-colour" [first]="first" [rows]="rows" [alwaysShow]="false" [totalRecords]="length" (onPageChange)="onPageNumChange($event)"></p-paginator>
        </ng-container>


    </div>
</div>