<h2 *ngIf="!comments">{{'there are no comments yet' | titlecase }}</h2>
<div *ngIf="comments">
    <div *ngFor="let comment of comments; let i = index">
        <div class="px-2 py-0">
            <p-divider *ngIf="i != 0"></p-divider>
            <p [innerHTML]="comment.body"></p>
            <div class="grid grid-nogutter">
                <div class="col-12 lg:col-10"></div>
                <div class="col-12 lg:col-2 text-xs text-right">
                    <span>{{comment.posterAddress | slice:0:6}}...{{comment.posterAddress | slice:-4}} &nbsp;</span>
                    <span>{{comment.datetimePosted | date:'dd/MM/yyyy HH:mm'}}</span>    
                </div>
            </div>
            <p-divider *ngIf="i == comments.length -1"></p-divider>
        </div>
    </div>
</div>