<p>project-owner works!</p>
<p>New Project Form</p>
<form [formGroup]="newProjectForm">
    <div>
        Goal:
    </div>
    <div>
        <input type="number" formControlName="goal">
    </div>
    <div>Deadline: </div>
    <div>
        <input type="date" formControlName="deadline">
    </div>
    <div>Token Address: </div>
    <div>
        <input type="text" formControlName="tokenAddress">
    </div>
    <div>Description: </div>
    <div>
        <input type="text" formControlName="description">
    </div>
</form>
<button (click)="createProject()">Create project</button>
<p>New Request Form</p>
<form [formGroup]="newRequestForm">
    <div>Description: </div>
    <div>
        <input type="text" formControlName="description">
    </div>
    <div>Recipient:</div>
    <div>
        <input type="text" formControlName="recipient">
    </div>
    <div>Amount:</div>
    <div>
        <input type="number" formControlName="amount">
    </div>
</form>
<button (click)="createRequest()">Create new request</button>
<p>Receive contribution</p>
<form [formGroup]="requestNumForm">
    <div>Request Number:</div>
    <div>
        <input type="number" formControlName="requestNum">
    </div>
</form>
<button (click)="receiveContribution()">Receive contribution</button>