<h2 *ngIf="!announcements" class="px-3">{{'there are no announcements yet' | titlecase }}</h2>
<div *ngIf="announcements">
    <div class="flex flex-column-reverse px-3 py-0">
        <div *ngFor="let announcement of announcements; let i = index">
            <div>
                <!-- <p-divider *ngIf="i != 0"></p-divider> -->
                <p [innerHTML]="announcement.body"></p>
                <div class="grid grid-nogutter">
                    <div class="col-12 lg:col-9">
                        <p-button *ngIf="editable(announcement)" [disabled]="editable(announcement)" pTooltip={{tooltip}} styleClass="p-button-raised p-button-sm align-self-center" (click)="onEdit(i)">Edit</p-button>
                        <p-button *ngIf="!editable(announcement)" [disabled]="editable(announcement)" styleClass="p-button-raised p-button-sm align-content-center align-items-center" (click)="onEdit(i)">Edit</p-button>
                    </div>
                    <div class="col-12 lg:col-3 text-xs text-right align-self-end">
                        <div *ngIf="announcement.datetimeEdited">
                            Edited:&nbsp;<span>{{announcement.datetimePosted | date:'dd/MM/yyyy HH:mm'}}</span>
                        </div>
                        <div>
                            <span>{{announcement.creatorAddress | slice:0:6}}...{{announcement.creatorAddress | slice:-4}} &nbsp;</span>
                            Posted:
                            <span>{{announcement.datetimePosted | date:'dd/MM/yyyy HH:mm'}}</span>
                        </div>
                    </div>
                </div>
                <p-divider></p-divider>
                <!-- <p-divider *ngIf="i == announcements.length -1"></p-divider> -->
            </div>
        </div>
    </div>
</div>